<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Cryto Coin App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-card *ngFor="let item of coinall">
    <ion-item>
      <ion-avatar>
        <img src={{item.image}}/>
      </ion-avatar>
      <ion-label class="ion-padding">{{item.name}}</ion-label>
      <ion-button color="warning"  fill="clear" size="large">{{item.last}}</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
